<!-- resume.ejs -->
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script>
    // JavaScript for smooth scrolling to target section
    document.addEventListener('DOMContentLoaded', function() {
      var scrollIndicator = document.querySelector('.scroll-indicator a');
      var targetSection = document.querySelector(scrollIndicator.getAttribute('href'));
      
      scrollIndicator.addEventListener('click', function(event) {
        event.preventDefault();
        targetSection.scrollIntoView({ behavior: 'smooth' });
      });
    });
  </script>
</head>
<body>

  <div class="container">
    <div class="introduction">
      <h4 id="greeting" class="one">Hi, my name is</h3>
      <h2 id="name" class="two"><%= resumeData.name %>.</h2>
      <p class="three"><%= resumeData.summary %></p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/aidanmarley/" target="_blank"><i class="fab fa-linkedin fade-in-one"></i></a>
        <a href="https://github.com/marls-bar" target="_blank"><i class="fab fa-github fade-in-two"></i></a>
        <a href="https://www.instagram.com/_aymarls/" target="_blank"><i class="fab fa-instagram fade-in-three"></i></a>
      </div>
    </div>
  </div>

  <div class="scroll-indicator fade-in-scroll-indicator">
    <a href="#about"><i class="fas fa-chevron-down"></i></a>
  </div>

  <div class="container">
    <div class="about" id="about">
      <h2>About Me</h2>
      <div class="about-content">
        <p>
          As a tech enthusiast, I am deeply passionate about the ever-evolving world of technology. 
          From cybersecurity and artificial intelligence to cloud computing and data analytics, I find 
          immense joy in exploring and mastering the most in-demand skills in today's tech landscape.
          <br><br> 
          The opportunity to leverage cutting-edge technologies and innovative solutions to solve complex 
          problems is what drives my passion. With a relentless curiosity and a growth mindset, I am 
          committed to continuous learning and staying at the forefront of technological advancements.
          <br><br>  
          My goal is to make a meaningful impact by applying these skills to create transformative solutions 
          and contribute to shaping the future of technology.
        </p>
        <img src="/images/portrait.png" alt="Your Image">
      </div>
      
    </div>
  </div>

</body>
</html>