<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
    }
    .container {
      max-width: 800px;
      padding: 20px;
      text-align: left;
      margin-top:500px;
    }
    .bio-container {
      margin-bottom: 30px;
      margin-top: 200px; /* Added negative margin */
    }

    .icons {
      margin-top: 20px;
    }
    .icons a {
      margin-right: 10px;
      color: #000;
      text-decoration: none;
      transition: color 0.3s ease-in-out;
    }
    .icons a:hover {
      color: #555;
    }
    .resume-container {
      text-align: left;
      margin-top: 100px;
    }
    .resume-container h2 {
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: bold;
    }
    .resume-container p,
    .resume-container ul {
      margin-bottom: 10px;
      font-size: 16px;
    }
    .resume-container ul {
      margin-top: 0;
      padding-left: 20px;
    }
  </style>
  <script>
  </script>
</head>
<body>
  <div class="container">
    <div class="bio-container">
      <h4>Hi, my name is</h4>
      <h2>Aidan Marley.</h2>
      <h2>I combat cyber threats.</h2>
      <h3>
        I'm an all-round tech enthusiast who likes to protect data, ensure system security and build 
        software. Currently, I'm a security specialist at Macquarie Telecom Group.
      </h3>
      <div class="icons">
        <a href="https://www.linkedin.com/in/aidanmarley" target="_blank"><i class="fab fa-linkedin fade-in-one"></i></a>
        <a href="https://github.com/marls-bar" target="_blank"><i class="fab fa-github fade-in-two"></i></a>
        <a href="https://www.instagram.com/_aymarls/" target="_blank"><i class="fab fa-instagram fade-in-three"></i></a>
      </div>
    </div>
    <div class="resume-container">
      <h2>Experience</h2>
      <p>Feb 2023 - Present</p>
      <h3>Network Engineer @ Macquarie Telecom</h3>
      <ul>
        <li>Managed and troubleshooted routers, switches and firewalls.</li>
        <li>Monitored network alarms and promptly responded to resolve issues and ensure uninterrupted network connectivity.</li>
        <li>Implemented and maintained network security protocols, ensuring systems are up-to-date and protected against potential threats.</li>
        <li>Collaborated with cross-functional teams to design and implement network infrastructure improvements and upgrades.</li>
        <li>Provided customer support by taking calls, troubleshooting network-related issues, and resolving customer inquiries.</li>
      </ul>
      <p>Feb 2021 - Oct 2022</p>
      <h3>Squad Swim Coach @ Clublinks pty ltd</h3>
      <ul>
        <li>Develop and implement effective training programs to enhance swimmers' performance and achieve optimal results.</li>
        <li>Employ communication and collaboration tools to facilitate seamless coordination with swimmers, parents, and coaching staff.</li>
        <li>Monitor and evaluate individual and team performance, identifying areas for improvement and implementing strategies accordingly.</li>
      </ul>
      <p>Feb 2019 - Jan 2020</p>
      <h3>English teacher @ Xavier Learning Community</h3>
      <ul>
        <li>Design and deliver tailored English language curriculum to students from communities in the northern Thailand hill tribes.</li>
        <li>Adapted teaching strategies and materials to accommodate different learning styles and abilities, promoting inclusive education and equal access to knowledge.</li>
        <li>Encouraged critical thinking, creativity, and problem-solving skills through project-based learning activities and integration of technology tools.</li>
      </ul>
      <h2>Technical Skills</h2>
      <p>Programming: C#, Python, Java, SQL, Solidity, JavaScript</p>
      <p>Security: Splunk Enterprise, Splunk Search Processing Language (SPL), Azure Sentinel, Microsoft Defender</p>
      <p>Networking: Azure, FortiGate, FortiAnalyzer, FortiManager, UCSM </p>
      <h2>Education</h2>
      <p>Bachelor of Computer Science UNSW</p>
      <p>St Ignatius College: Maths Extension, Physics, Advanced English, Modern History</p>
      <h2>Notable Projects</h2>
      <p>
        Decentralised Blockchain application for the food-industry: Designed and implemented an application to 
        solve problems of traceability and transparency in the meat supply-chain
      </p>
      <p>
        E-Invoicing web application: Created and pitched a viable e-invoicing application for everyday people and 
        simple businesses using React, Postgres, and Heroku.
      </p>
      <p>
        Pixel-art turn-based game: Object-Oriented Design, collaborated in a group of 4 and lead the team in UML 
        design and task delegation to reach milestones on time.
      </p>
    </div>
  </div>
</body>
</html>
