@keyframes revealFromBottom {
0% {
    opacity: 0;
    transform: translateY(100%);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

.one {
opacity: 0;  
animation-name: revealFromBottom;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 0.1s;
margin-bottom: 10px;
}

.two {
opacity: 0; 
animation-name: revealFromBottom;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 0.2s;
margin-top: 10px;
font-size: 48px;
margin-bottom: 8px;
}

.three {
opacity: 0;
animation-name: revealFromBottom;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 0.3s;
}

@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.fade-in-one {
opacity: 0;  
animation-name: fadeIn;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 1s;
}

.fade-in-two {
opacity: 0; 
animation-name: fadeIn;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 1.5s;
}

.fade-in-three {
opacity: 0;
animation-name: fadeIn;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 2s;
}

.container {
overflow: hidden;
}

.social-icons {
margin-top: 20px;
}

.social-icons a {
display: inline-block;
margin-right: 10px;
margin-left: 3px;
color: #000000;
font-size: 24px;
transition: color 0.3s;
}

.social-icons a:hover {
color: #555;
}

.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.introduction {
text-align: left;
}

.scroll-indicator {
position: fixed;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
font-size: 40px; /* Increase the font size for a bigger icon */
}

.fade-in-scroll-indicator {
opacity: 0;  
animation-name: fadeIn;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 4s;
}

.about {
max-width: 600px;
text-align: left;
}

.photo-container {
display: flex;
justify-content: flex-end;
}

.photo-container img {
max-width: 300px;
height: auto;
}