@keyframes revealFromBottom {
0% {
    opacity: 0;
    transform: translateY(100%);
}
100% {
    opacity: 1;
    transform: translateY(0);
}
}

.one {
opacity: 0;  
animation-name: revealFromBottom;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 0.1s;
margin-bottom: 10px;
}

.two {
opacity: 0; 
animation-name: revealFromBottom;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 0.2s;
margin-top: 10px;
font-size: 48px;
margin-bottom: 8px;
}

.three {
opacity: 0;
animation-name: revealFromBottom;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 0.3s;
}

@keyframes fadeIn {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}

.fade-in-one {
opacity: 0;  
animation-name: fadeIn;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 1s;
}

.fade-in-two {
opacity: 0; 
animation-name: fadeIn;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 1.5s;
}

.fade-in-three {
opacity: 0;
animation-name: fadeIn;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 2s;
}

.container {
overflow: hidden;
}

.social-icons {
margin-top: 20px;
}

.social-icons a {
display: inline-block;
margin-right: 10px;
margin-left: 3px;
color: #000000;
font-size: 24px;
transition: color 0.3s;
}

.social-icons a:hover {
color: #555;
}

.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.introduction {
text-align: left;
margin-left: 450px;
margin-bottom: -1000px;
margin-top: -1000px;
}

.scroll-indicator {
position: fixed;
bottom: 10px;
left: 50%;
transform: translateX(-50%);
font-size: 40px; /* Increase the font size for a bigger icon */
}

.fade-in-scroll-indicator {
opacity: 0;  
animation-name: fadeIn;
animation-duration: 0.5s;
animation-fill-mode: forwards;
animation-delay: 4s;
}

.about {
height: 70vh; /* Adjust the height as needed */
width: 60%; /* Adjust the width as needed */
margin: 0 auto; /* Center the element horizontally */
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;
margin-top: -300px; /* Reduce the top margin */
padding-top: 0; /* Remove the top padding */
}

.about h2 {
/* New styles for the "About Me" title */
font-size: 1.5rem;
margin-bottom: -10px; /* Add margin bottom to create space */
}

.about p {
/* Adjust the font size and other styles as needed */
font-size: 1.2rem;
margin-right: 50px;
}

.about-content {
display: flex;
align-items: center;
}

.about-content img {
max-width: 300px;
height: auto;
border: 4px solid #555; /* Add a border and adjust its properties */
border-radius: 7px; /* Add border radius for a rounded frame */
padding: 4px; /* Add padding to create some space between the image and the border */
}

.work-experience {
display: flex;
align-items: flex-start; /* Change alignment to flex-start */
justify-content: center;
flex-wrap: wrap;
width: 60%;
margin: 0 auto;
margin-top: 10px;
padding-top: 0;
}

.section-heading {
margin-top: -500px;
margin-bottom: 0px;
text-align: left;
width: 100%;
margin-left: 300px;
}

.content {
display: none;
margin-left: 20px;
width: 100%;
}

.company-content {
flex: 1; /* Allow the company content to expand and fill the remaining space */
}

.tabs {
display: flex;
flex-direction: column; /* Set the flex direction to column */
margin-right: 20px; /* Add some spacing between the tabs and company content */
position: sticky; /* Add sticky position */
top: 0; /* Set top position to 0 */
}


.content {
width: 100%; /* Set a fixed width for the content */
display: none;
margin-left: 20px; /* Add space between tabs and content */
}

.content.active {
display: block;
}

.tab {
background-color: #eee; /* Set a background color for the tabs */
padding: 10px 15px; /* Adjust the padding as needed */
margin-bottom: 5px; /* Adjust the spacing between tabs as needed */
cursor: pointer;
transition: background-color 0.3s; /* Add a transition effect for smooth color change */
}

.tab.active {
background-color: #ccc; /* Set a different background color for the active tab */
}

.container {
display: flex;
flex-direction: column;
align-items: flex-start; /* Change alignment to flex-start */
justify-content: center;
height: 100vh;
margin-top: -230px;
margin-bottom: 20px;
padding: 0 20px;
}

.contact-section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 50vh;
text-align: center;
margin-bottom: 200px;
}

.contact-section h2 {
font-size: 24px;
margin-bottom: 10px;
}

.contact-section p {
font-size: 16px;
margin-bottom: 20px;
}

.contact-button {
display: inline-block;
padding: 15px 30px;
font-size: 18px;
background-color: #555;
color: #fff;
text-decoration: none;
border-radius: 5px;
transition: background-color 0.3s;
}

.contact-button:hover {
background-color: #333;
}

.fade-in {
opacity: 0;
animation-name: fadeIn;
animation-duration: 1s;
animation-fill-mode: forwards;
}

.fade-out {
opacity: 1;
animation-name: fadeOut;
animation-duration: 1s;
animation-fill-mode: forwards;
}

@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

@keyframes fadeOut {
from {
    opacity: 1;
}
to {
    opacity: 0;
}
}